<ul class="nav-item">
    <li>@Html.ActionLink(linkText: "Dutch", actionName: "Index", controllerName: "Language",routeValues: new { language = "nl" }, htmlAttributes: null)</li>
    <li>@Html.ActionLink(linkText: "English", actionName: "Index", controllerName: "Language", routeValues: new { language = "en" }, htmlAttributes: null)</li>
    <li>@Html.ActionLink(linkText: "French", actionName: "Index", controllerName: "Language", routeValues: new { language = "fr" }, htmlAttributes: null)</li>
</ul>
