<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] actemium</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link href="~/css/Dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <!-- Vertical navbar --> 
    <nav class="navbar" id="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <img src="~/img/logo-actemuim.png" id="img1" />
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-ticket-alt fa-fw"></i>
                    <span class="link-text">Tickets</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-chart-line fa-fw"></i>
                    <span class="link-text">Statistics</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-copy fa-fw"></i>
                    <span class="link-text">Contracts</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-question-circle fa-fw"></i>
                    <span class="link-text">FAQ</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="link-text">Sign out</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        @RenderBody()
    </main>
    <!--End Vertical Navbar-->

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    @*@RenderSection("Scripts", required: false)*@
</body>
</html>
