@using _2021_dotnet_g_28.Models.viewmodels;
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Actemium</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />
</head>
<body class="text-center">
    <div class="container">
        <main role="main">


            <div>
                <img src="~/img/logo-actemuim.png" alt="Actemuim logo" />
            </div>
            <h1>@ViewBag.Title</h1>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-signin" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            @*<label asp-for="Username"></label>*@
                            <input asp-for="Username" class="form-control inputUsername" placeholder="Username"/>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="Password"></label>*@
                            <input type="password" asp-for="Password" class="form-control inputPassword" placeholder="Password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>