@using _2021_dotnet_g_28.Models.Viewmodels;
@model TicketIndexViewModel

@{
    ViewData["Title"] = "Tickets";
}

<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <th>Ticketnr</th>
        <th>Title</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var item in Model.Tickets)
    {
        <tr>
            <td>@item.TicketNr</td>
            <td>@item.Title</td>
            <td>@item.Status</td>
            <td><button>Wijzigen</button></td>
            <td><button>Close</button></td>
        </tr>
    }
</table>
